@model IEnumerable<Proyecto_Final_DSWI.Models.Funciones>

@{
    ViewData["Title"] = "Index";
}

<link href="@Url.Content("~/css/Dulceria.css")" rel="stylesheet" />

<div class="header-bar">
    <h1>FUNCIONES</h1>
    <a class="crear-btn" asp-action="Create">
        Crear ⊕
    </a>
</div>
<div>
    @TempData["mensaje"]
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_inicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_funcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_pelicula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_funcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_inicio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_funcion }, new { @class = "edit-link" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_funcion }, new { @class = "delete-link" })
                </td>
            </tr>
        }
    </tbody>
</table>
