@model Proyecto_Final_DSWI_Front.Models.Salas

@{
    ViewData["Title"] = "Delete";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Delete</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h3>¿Estás seguro de que desear eliminar esta sala?</h3>
        </div>
        <br />
        <div class="form-body">
            <hr />
            <dl class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.id_sala)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.id_sala)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.cod_sala)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.cod_sala)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.capacidad_sala)
                </dt>
                    <dd>
                    @Html.DisplayFor(model => model.capacidad_sala)
                </dd>
                </div>
                    <form asp-action="Delete" class="cont-submit">
                        <input type="hidden" asp-for="id_sala" />
                        <input type="submit" value="Delete" /> 
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </dl>
        </div>
    </div>
</div>

