@model IEnumerable<Proyecto_Final_DSWI_Front.Models.Salas>

@{
    ViewData["Title"] = "Index";
}

<link href="@Url.Content("~/css/Dulceria.css")" rel="stylesheet" />

<div class="header-bar">
    <h1>SALAS</h1>
    <a class="crear-btn" asp-action="Create">
        Crear ⊕
    </a>
</div>
<div>
    @TempData["mensaje"]
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacidad_sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacidad_sala)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_sala }, new { @class = "edit-link" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_sala }, new { @class = "delete-link" })
                </td>
            </tr>
        }
    </tbody>
</table>