@model Proyecto_Final_DSWI_Front.Models.Peliculas

@{
    ViewData["Title"] = "Delete";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Delete</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h3>¿Estás seguro de que desear eliminar esta película?</h3>
        </div>
        <br />
        <div class="form-body">
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_pelicula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombre_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombre_pelicula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.director_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.director_pelicula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.genero_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.genero_pelicula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.duracion_minutos)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.duracion_minutos)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.idioma_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.idioma_pelicula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.clasificacion_pelicula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.clasificacion_pelicula)
                </dd>
            </dl>
        </div>
        <form asp-action="Delete" class="cont-submit">
            <input type="hidden" asp-for="id_pelicula" />
            <input type="submit" value="Delete" />
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </dl>
</div>
    </div>
</div>
