@model Proyecto_Final_DSWI_Front.Models.Clientes

@{
    ViewData["Title"] = "Delete";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Delete</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h3>¿Estás seguro de que desear eliminar este cliente?</h3>
        </div>
        <br />
        <div class="form-body">
            <hr />
            <dl class="row">  
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.dni_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.dni_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombres_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombres_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.apellido_pat_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.apellido_pat_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.apellido_mat_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.apellido_mat_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.num_celular_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.num_celular_cliente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.correo_cliente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.correo_cliente)
                </dd>
            </dl>
        </div>
        <form asp-action="Delete" class="cont-submit">
            <input type="hidden" asp-for="id_cliente" />
            <input type="submit" value="Delete" />
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </dl>
</div>
    </div>
</div>
